<!DOCTYPE html>
<html lang="en" style="background: url(&quot;assets/img/3440860.jpg&quot;) center / cover no-repeat;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>conversation</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Play&amp;display=swap">
    <link rel="stylesheet" href="assets/css/Navbar-Right-Links-icons.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <section class="section d-flex justify-content-center align-items-center flex-column" style="background: url(&quot;assets/img/3440860.jpg&quot;) center / cover no-repeat;">
        <div class="chat1" style="background: #ffffff;border-radius: 0.3rem;border-top-left-radius: 0.3rem;border-top-right-radius: 0.3rem;border-bottom-right-radius: 0;border-bottom-left-radius: 0;">
            <div class="content-top d-flex justify-content-end" style="border-top-left-radius: 0.3rem;border-top-right-radius: 0.3rem;background: var(--bs-teal);"><a href="/logout"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="me-3 mt-1" style="font-size: 30px;">
                    <path d="M8.51428 20H4.51428C3.40971 20 2.51428 19.1046 2.51428 18V6C2.51428 4.89543 3.40971 4 4.51428 4H8.51428V6H4.51428V18H8.51428V20Z" fill="currentColor"></path>
                    <path d="M13.8418 17.385L15.262 15.9768L11.3428 12.0242L20.4857 12.0242C21.038 12.0242 21.4857 11.5765 21.4857 11.0242C21.4857 10.4719 21.038 10.0242 20.4857 10.0242L11.3236 10.0242L15.304 6.0774L13.8958 4.6572L7.5049 10.9941L13.8418 17.385Z" fill="currentColor"></path>
                </svg></a></div>
            <div class="message-box p-3">
            {% if conversations is defined and conversations|length > 0 %}
    {% for m in conversations %}
        <div class="mt-3">
            <div class="row">
                {% if m.user_id == connected_user_id %}
                    <div class="col-9 col-sm-9 col-xl-10 col-xxl-10 message d-flex justify-content-center align-items-center flex-column">
                        <p class="text-message p-2" style="background: rgba(32,201,151,0.45);border-radius: 0.3rem;">{{ m.message }}</p>
                        <p>{{ m.date_envoi|date("H:i") }}</p>
                    </div>
                    <div class="col-3 col-sm-3 col-xl-2 d-flex justify-content-center flex-column">
                        <img class="profile" src="assets/img/3440860.jpg" style="border-radius: 50%;">
                        <p>{{ m.user_pseudo }}</p>
                    </div>
                {% else %}
                    <div class="col-3 col-sm-3 col-xl-2 d-flex justify-content-center flex-column">
                        <img class="profile" src="assets/img/3440860.jpg" style="border-radius: 50%;">
                        <p>{{ m.user_pseudo }}</p>
                    </div>
                    <div class="col-9 col-sm-9 col-xl-10 col-xxl-10 message1 d-flex justify-content-center align-items-center flex-column">
                        <p class="text-message p-2" style="background: rgba(32,201,151,0.45);border-radius: 0.3rem;">{{ m.message }}</p>
                        <p>{{ m.date_envoi|date("H:i") }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% else %}
    <p>Aucun message</p>
{% endif %}

            </div>
        </div>
        <div class="from-message pt-2" style="border-bottom-right-radius: 0.3rem;border-bottom-left-radius: 0.3rem;background: #ffffff;">
            <form style="width: 100%;height: 100%;" method="post" action="/send">
                <div class="row mb-2" style="height: 100%;">
                    <div class="col-sm-11 col-md-8 col-lg-9 col-xl-9" style="height: 100%;"><textarea class="form-control ms-4 mb-2" name="message" placeholder="Ecrire un message ..." required="" rows="1"></textarea></div>
                    <div class="col d-flex justify-content-center" style="height: 100%;"><button class="btn btn-primary d-flex justify-content-center align-items-center" type="submit">Envoyer</button></div>
                </div>
            </form>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>